<!-- slide-item -->
<div>
    <!-- slide-content -->
    <div class="slide-content">
        <!-- Value -->
        <div class="skills" data-rel="{{ ez_field_value( content, "level" ) }}" id="{{ contentId }}"></div>
        <!-- skill-title -->
        <div class="skill-title">
            <h2>{{ ez_render_field( content, "name" ) }}</h2>
        </div><!-- /skill-title -->
        <!-- skill-content -->
        <div class="skill-content">
            <p>{{ ez_render_field( content, "description" ) }}</p>
        </div><!-- /skill-content -->
    </div><!-- /slide-content -->
</div><!-- /slide-item -->