<!-- =========================================
Footer Section
========================================== -->
<!-- footer-section -->
<footer id="footer-section">


    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">


            <!-- col-md-12 -->
            <div class="col-md-12">


                <!-- footer-logo -->
                <div class="footer-logo wow fadeInDown" data-wow-duration="1.5s">
                    <!-- logo -->
                    <a href="#" class="scrollto" title="Meg4R0M">
                        <img src="{{ asset('assets/images/logo.png') }}" alt="Logo" />
                    </a><!-- /logo -->
                </div><!-- /footer-logo -->


                <!-- social-icons -->
                <ul class="social-icons wow fadeInUp" data-wow-duration="1.5s">
                    <li><a href="https://www.facebook.com/Toos.DL" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/ToosDL" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://fr.pinterest.com/meg4r0m/" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
                    <li><a href="https://plus.google.com/u/0/116105898111555731103" title="Google"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="https://www.instagram.com/meg4r0m/" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UCAasytsoD8L-vUJX8jnQPrA" title="Youtube"><i class="fa fa-youtube-play"></i></a></li>
                </ul><!-- /social-icons -->


                <!-- copyright -->
                <p class="copyright wow fadeIn" data-wow-duration="1.5s">
                    &copy; {{ 'now'|date('Y') }} <a href="http://www.Meg4R0M.ovh" title="Meg4R0M" target="_blank">Meg4R0M</a>, All Rights Reserved.
                </p><!-- /copyright -->


            </div><!-- /col-md-12 -->


        </div><!-- /row -->
    </div><!-- /container -->


</footer><!-- /footer-section -->