<!-- =========================================
Top Content
========================================== -->

<!-- top-content -->
<div id="top-content">

    <!-- top-content-overlayer -->
    <div id="top-content-overlayer"></div>
    {% block user_menu %}
        {% include 'HomeBundle:Layout:single_page_menu.html.twig' %}
    {% endblock %}

    <!-- =========================================
    Profile
    ========================================== -->
    <!-- profile-wrapper -->
    <div id="profile-wrapper">
        <!-- profile-container -->
        <div id="profile-container">


            <!-- profile-image -->
            <div class="profile-image">
                <img src="{{ asset('assets/images/personal-images/001.jpg') }}" alt="Personal Image" />
            </div><!-- /profile-image -->

            <!-- profile-name -->
            <div class="profile-name">
                <h4>Meg4R0M</h4>
            </div><!-- /profile-name -->

            <!-- profile-title -->
            <div class="profile-title">
                <h5>Développeur web full-stack</h5>
            </div><!-- /profile-title -->


        </div><!-- /profile-container -->
    </div><!-- /profile-wrapper -->


</div><!-- /top-content -->
{% set currentUrl = app.request.attributes.get('semanticPathinfo') %}
{% if currentUrl == '/' %}
    {% include 'HomeBundle:Layout:top_menu.html.twig' %}
{% else %}
    {% include 'HomeBundle:Layout:top_menu_for_full_page.html.twig' %}
{% endif %}